<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.serviayuda.pc.serviayuda">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono_app"
        android:label="@string/nombre_app"
        android:roundIcon="@mipmap/icono_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Actividades.Inicio"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Actividades.InicioSesion"
            android:screenOrientation="portrait"/>
        <activity android:name=".Actividades.Registro"
            android:screenOrientation="portrait"/>
        <activity android:name=".Actividades.ActivitySetViewPagerAdmin"
            android:screenOrientation="portrait"/>
        <activity android:name=".Actividades.ActivitySetViewPagerProveedor"
            android:screenOrientation="portrait"/>
        <activity android:name=".Actividades.ActivitySetViewPagerSolicitante"
            android:screenOrientation="portrait"/>
        <activity android:name=".Actividades.MenuInterfazAdaptada"
            android:screenOrientation="portrait"/>
        <activity android:name=".Actividades.Ajustes"
            android:screenOrientation="portrait"/>
        <activity android:name=".Actividades.Editar"
            android:screenOrientation="portrait"/>
        <activity android:name=".Actividades.AnuncioAmpliado"
            android:screenOrientation="portrait"/>
        <activity android:name=".Actividades.VisitarPerfil"
            android:screenOrientation="portrait"/>
        <service
            android:name=".Firebase.FirebaseInstanceID">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".Firebase.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>