<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.serviayuda.pc.serviayuda">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono_app"
        android:label="@string/nombre_app"
        android:roundIcon="@mipmap/icono_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".DisplayToken"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InicioSesion"
            android:screenOrientation="portrait"/>
        <activity android:name=".Registro"
            android:screenOrientation="portrait"/>
        <activity android:name=".MenuViewPagerAdmin"
            android:screenOrientation="portrait"/>
        <activity android:name=".MenuViewPagerProveedor"
            android:screenOrientation="portrait"/>
        <activity android:name=".MenuViewPagerSolicitante"
            android:screenOrientation="portrait"/>
        <activity android:name=".Ajustes"
            android:screenOrientation="portrait"/>
        <activity android:name=".AnuncioAmpliado"
            android:screenOrientation="portrait"/>
        <activity android:name=".VisitarPerfil"
            android:screenOrientation="portrait"/>
        <service
            android:name=".FirebaseInstanceID">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>